<%= flash[:notice] %>
<h1>Hello, Welcome to your Home Feed</h1>

<div>
  
<form method="POST" action='/post'>
  <textarea row="4" column="10" type="text" placeholder="Post" name="post" maxlength="150"></textarea>

  <input type="submit">
</form>
</div>

<div id="past_10">
  <h1>Recent Posts:</h1>
  <% if @post && @post.count > 0 %>
    <% @post.last(10).reverse.each do |post| %>
    <div id="individual_post">
      <%= post.body %>  
    </div>
    <% end %>

  <% end %>


</div>